.form-inline {
	padding-top: 10px;
	padding-bottom: 3px;
}

.chosen {
	color: black;
	font-weight: bold;
}

.unchosen {
	color: gray;

}

#subscribe-button, #login-button {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
}

#change-button {
	margin-bottom: 10px;
}

#alert-login {
	text-align: center;
	width: 460px;
	margin-bottom: 15px;
}

#change-form {
	margin-bottom: 10px;
}

#login {
	font-size: 14px;
	display: inline-block;
    margin-bottom: 10px;
}

#map {
	height: 1050px;
	padding-bottom: 10px;
	padding-top: 15px;
}

#help {
	line-height: 0.8em;
}

#error_message {
	width: 414px;
	margin-bottom: 10px;
	text-align: center;
}

#footer {
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
}

#chartd > div {
	width: 100%;
	height: 500px;
}

#chartd > h3 {
    height: 30px;
    width: 300px;
    margin: 0 auto;
}

@media screen and (max-width: 1075px) {
	#id_email, #id_loginmail {
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 990px) {
	#id_email, #id_loginmail {
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 767px) {
	#id_email, #id_loginmail {
		margin-bottom: 10px;
	}
}

