.form-inline {
	padding-top: 10px;
	padding-bottom: 3px;
}

.chosen {
	color: black;
	font-weight: bold;
}

.unchosen {
	color: gray;

}

.hiddenform {
	display: none;
}

#id_password_hash, #id_password {
	margin-top: 5px;
}

#subscribe-button, #login-button, {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
}

#change-button {
	margin-bottom: 10px;
}

#change-form {
	margin-bottom: 10px;
}

#login {
	font-size: 14px;
	display: inline-block;
}

#login_form {
	margin-bottom: 25px;
}

#map {
	height: 1050px;
	padding-bottom: 10px;
	padding-top: 15px;
}

#help {
	line-height: 0.8em;
}

#error_message {
	width: 414px;
	margin-bottom: 10px;
	text-align: center;
}

#footer {
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
}

@media screen and (max-width: 1075px) {
	#id_email, #id_loginmail {
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 990px) {
	#id_email, #id_loginmail {
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 767px) {
	#id_email, #id_loginmail {
		margin-bottom: 10px;
	}
}

