<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <title>air-msc.ru — уведомления о загрязнениях воздуха в Москве</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static "js/jquery.cookie.js" %}" ></script>
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU"></script>

    <meta property="og:site_name" content="air-msc.ru" />
    <meta property="og:title" content="Получайте на почту уведомления при загрязнении воздуха в вашем районе" />
    <meta property="og:url" content="http://air-msc.ru/" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:description" content="Подпишитесь на оперативные уведомления о состоянии воздуха в различных районах Москвы по данным станций мониторинга ГПБУ «Мосэкомониторинг»." />
    <meta property="og:image" content="{% static "img/airmsc_shot.png" %}" />

    <meta name="twitter:image" content="http://air-msc.ru/static/img/airmsc_shot.png?35252525322" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@airmsc_ru" />
    <meta name="twitter:title" content="Получайте на почту уведомления при загрязнении воздуха в вашем районе" />
    <meta name="twitter:description" content="Подпишитесь на оперативные уведомления о состоянии воздуха в различных районах Москвы по данным станций мониторинга ГПБУ «Мосэкомониторинг»." />

  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 col-sm-12" id="map"></div>
        <div class="col-md-5 col-sm-12" id="right-column">
          <h2 id="slogan">Получайте на почту уведомления<br>при загрязнении воздуха в вашем районе</h2>
          {% block caption %}
            <h2 id="help"><small>Выберите станции ГПБУ «<a href="http://www.mosecom.ru/air/air-today/">Мосэкомониторинг</a>», введите свой email и&nbsp;нажмите кнопку «Подписаться»</small></h2>
          {% endblock caption %}
          <section class="form-ajax-container">
              {% block form %}
                  <form id="main_form" class="form-inline" method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                      {% for field in form %}
                        {{ field }}
                      {% endfor %}
                      <button type="submit" id="subscribe-button" class="btn btn-primary btn-lg">Подписаться</button>
                      <a href="#" id="login">Подписались ранее и хотите изменить свой список станций?</a>
                    </div>
                  </form>
              {% endblock form %}
          </section>
            {% block message_box %}
                <div id="message_box"></div>
            {% endblock %}

          {% block stations %}
              <div class="row">
                <div class="col-md-6">
                  <p><a href="#" id="select_all"><strong>ВСЕ</strong></a> / <a href="#" id="unselect_all"><strong>НИ ОДНОЙ</strong></a></p>
                  <p class="unchosen" id="donskoyshabolovka">Донской (Шаболовка)</p>
                  <p class="unchosen" id="donskoychura">Донской (Чура)</p>
                  <p class="unchosen" id="danilovskiy">Даниловский</p>
                  <p class="unchosen" id="zapbirulovo">Западное Бирюлево</p>
                  <p class="unchosen" id="orekhovo">Орехово-Борисово Южное</p>
                  <p class="unchosen" id="tsarytsyno">Царицыно</p>
                  <p class="unchosen" id="konkovo">Коньково</p>
                  <p class="unchosen" id="akademicheskiy">Академический</p>
                  <p class="unchosen" id="gagarinskiy">Гагаринский</p>
                  <p class="unchosen" id="southbutovo">Южное Бутово</p>
                  <p class="unchosen" id="marinskiypark">Марьинский парк</p>
                  <p class="unchosen" id="lyblinogolovach">Люблино (Головачёва)</p>
                  <p class="unchosen" id="lublinosovkhoz">Люблино (Совхозная)</p>
                  <p class="unchosen" id="ryazanskiy">Рязанский</p>
                  <p class="unchosen" id="kapotnya">Капотня</p>
                  <p class="unchosen" id="pechatniki">Печатники</p>
                  <p class="unchosen" id="losiniyostrov">Лосиный остров</p>
                  <p class="unchosen" id="kosino">Косино</p>
                  <p class="unchosen" id="basmanniykazakova">Басманный (Казакова)</p>
                  <p class="unchosen" id="basmanniyspartak">Басманный (Спартаковская)</p>
                </div>

                <div class="col-md-6">
                  <p class="unchosen" id="presnenskiy">Пресненский</p>
                  <p class="unchosen" id="tverskoy">Тверской</p>
                  <p class="unchosen" id="khamovniki">Хамовники</p>
                  <p class="unchosen" id="bogorodskoe">Богородское</p>
                  <p class="unchosen" id="southmedvedkovo">Южное Медведково</p>
                  <p class="unchosen" id="ostankinskiy">Останкинский</p>
                  <p class="unchosen" id="aeroport">Аэропорт</p>
                  <p class="unchosen" id="savelovskiy">Савеловский</p>
                  <p class="unchosen" id="dmitrovskiy">Дмитровский</p>
                  <p class="unchosen" id="sokol">Сокол</p>
                  <p class="unchosen" id="pokrovskoestreshnevo">Покровское-Стрешнево</p>
                  <p class="unchosen" id="northtushino">Северное Тушино</p>
                  <p class="unchosen" id="khoroshevomnevniki">Хорошево-Мневники</p>
                  <p class="unchosen" id="ramenki">Раменки</p>
                  <p class="unchosen" id="troparevonikulino">Тропарево-Никулино</p>
                  <p class="unchosen" id="mozhaisky">Можайский</p>
                  <p class="unchosen" id="dorogomilovo">Дорогомилово</p>
                  <p class="unchosen" id="scherbinka">Щербинка</p>
                  <p class="unchosen" id="salarievo">Саларьево (Московский)</p>
                  <p class="unchosen" id="kozhuhovo">Кожухово</p>
                  <p class="unchosen" id="meschansky">Мещанский</p>
                </div>
              </div>
          {% endblock stations %}
        </div>
      </div>
      <div id="footer">Собрана почасовая статистика за {{ days }} суток</div>
    </div>
  </body>
  <script src="{% static "js/common.js" %}" ></script> 
</html>
