<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
</head>
<body>
    <p>Внимание! Станции мониторинга качества воздуха зафиксировали превышение ПДК ядовитых веществ в следующих районах: {{stations}}. Превышены ПДК следующих веществ: {{poisons}}.</p>
    <p>Чтобы отписаться от уведомлений, перейдите по этой ссылке {{unsubscribe}}.</p>
    <p>Если вы хотите изменить параметры подписки (подписаться на другие станции мониторинга), вам также нужно отписаться. Затем вы можете подписаться на уведомления заново, выбрав другие станции.</p>
</body>
</html>