<form id="login_form" class="form-inline" method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control input-lg" id="id_loginmail" maxlength="254" name="login" placeholder="Введите email" type="email" />

        <input class="form-control input-lg" id="id_password" maxlength="200" name="password" placeholder="Введите пароль" type="password" />

      <button type="submit" id="login-button" class="btn btn-primary btn-lg">Войти</button>
    </div>
</form>