<form id="login_form" class="form-inline" method="POST" action="" autocomplete="off">
    {% csrf_token %}
    <div class="form-group form-group-lg label-floating">
        <label class="control-label">Email</label>
        <input class="form-control input-lg" id="id_loginmail" maxlength="254" name="login" type="email" />
    </div>
    <div class="form-group form-group-lg label-floating">
        <label class="control-label">Пароль</label>
        <input class="form-control input-lg" id="id_password" maxlength="200" name="password" type="password" />
    </div>
    <button type="submit" id="login-button" class="btn btn-raised btn-primary btn-lg">Войти</button>
</form>