{% extends 'base.html' %}

{% block caption %}{% endblock %}

{% block form %}
   <form id="main_form" class="form-inline" method="POST" action="" autocomplete="off">
        {% csrf_token %}
        <div class="form-group form-group-lg label-floating">
            <label class="control-label">Email</label>
            {{ form.email }}
        </div>
        <div class="form-group form-group-lg label-floating">
            <label class="control-label">Пароль</label>
            {{ form.password }}
        </div>
        <button type="submit" id="subscribe-button" class="btn btn-raised btn-primary btn-lg">Подписаться</button>
    </form>
{% endblock %}

{% block message_box %}
    <div style='text-align: center; width: 460px' class='alert alert-success'>Вы отписались от всех уведомлений, ваш email удален из базы. Теперь вы, если хотите, можете подписаться на уведомления заново, выбрав другие станции мониторинга.</div>
{% endblock %}


